body,
html {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: snow;
}

#content,
.landing {
  position: fixed;
  background-color: #381d4e;
  width: 90%;
  max-height: 75%;
  padding: 10px;
  border-radius: 20px;
  overflow: scroll;
  overflow-x: hidden;
}

#pageContainer {
  margin-left: 100px;
}

.landing img {
  margin: 7px;
}
